/**
 * Grid system related classes
 */

@import 'vars';

// generate attributes for a col-X class
@mixin col($portion, $override: false) {
  $important: '';
  @if($override) {
    $important: '!important';
  }
  flex: 0 0 percentage($portion / 12) #{$important};
  -ms-flex: 0 0 percentage($portion / 12) #{$important};
}

// Classes: col-1 through col-12 with responsive variants
@for $i from 1 through $columns {
  // Base classes 
  .col-#{$i} {
    @include col($i);
  }
  // Responsive variants
  @each $bp, $value in $breakpoints {
    @media (min-width: $value) {
      .col-#{$bp}-#{$i} {
        @include col($i, true);
      }
    }
  } 
}