/**
 * Spacing classes (padding and margin)
 */

@mixin paddings($dim, $unit: "") {
  .p-#{$dim} {
    padding: $dim#{$unit};
  }
  .pt-#{$dim} {
    padding-top: $dim#{$unit};
  }
  .pr-#{$dim} {
    padding-right: $dim#{$unit};
  }
  .pb-#{$dim} {
    padding-bottom: $dim#{$unit};
  }
  .pl-#{$dim} {
    padding-left: $dim#{$unit};
  }
  .px-#{$dim} {
    padding-right: $dim#{$unit};
    padding-left: $dim#{$unit};
  }
  .py-#{$dim} {
    padding-top: $dim#{$unit};
    padding-bottom: $dim#{$unit};
  }
}

@mixin margins($dim, $unit: "") {
  .m-#{$dim} {
    margin: 10;
  }
  .mt-#{$dim} {
    margin-top: $dim#{$unit};
  }
  .mr-#{$dim} {
    margin-right: $dim#{$unit};
  }
  .mb-#{$dim} {
    margin-bottom: $dim#{$unit};
  }
  .ml-#{$dim} {
    margin-left: $dim#{$unit};
  }
  .mx-#{$dim} {
    margin-right: $dim#{$unit};
    margin-left: $dim#{$unit};
  }
  .my-#{$dim} {
    margin-top: $dim#{$unit};
    margin-bottom: $dim#{$unit};
  }
}

@for $i from 1 through 5 {
  @include paddings(0);
  @include paddings($i * 10, px);
  @include paddings(($i * 10) - 5, px);

  @include margins(0);
  @include margins(auto);
  @include margins($i * 10, px);
  @include margins(($i * 10) - 5, px);
}
