// Colors
$primary: rgb(96, 80, 220);
$dark: #333;
$box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
$box-shadow-elevated: 0 8px 16px -5px rgba(0,0,0,0.4);
   
// Grid system
$columns: 12;
$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px
);

// Misc
$transition-duration: .2s;

:export {
  primary: $primary;
  dark: $dark;
}

